/* Header */
body {
    font-family: 'Cinzel', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carouselCont {
    padding-bottom: 550px;
}

header {
    background: url('../img/dion-tavenier-h-Qb-9H6Big-unsplash (1).jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.heroCont {
    padding-bottom: 160px;
}

.contact-info {
    display: inline-flex;
    margin-right: 20px;
    font-size: 13px;
}

.contact-info p {
    margin-right: 20px;
    color: white;
}

.containerContact {
    margin-top: 20px;
    opacity: 80%;
}

.containerTop {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.logoBeach {
    width: auto;
    max-width: 100px;
    margin-right: 300px;
}

.social-icons {
    display: inline-flex;
    width: auto;
    max-width: 100px;
}

.social-icons a {
    margin-left: 10px;
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-right: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerSidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.navIn {
    width: 680px;
    height: 40px;
    border-radius: 15px;
}

.nav-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-wrapper ul li {
    margin-left: 20px;
}

.nav-wrapper ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.sidenav-trigger {
    display: none;
}

.heroIn {
    text-align: start;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    margin-right: 370px;
    background: rgba(0, 145, 248, 0.2);
    margin-top: 200px;
}

.hero h1 {
    margin: 0 0 20px;
    color: white;
    font-size: 30px;
}

.tours .card {
    margin-bottom: 20px;
}

.advantages img {
    max-width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {

    .containerTop,
    .navContainer {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .logoBeach {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .nav-wrapper ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-wrapper ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .sidenav-trigger {
        display: block;
    }

    .hero {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .contact-info p {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hero {
        padding: 30px 10px;
        margin-right: 0;
    }

    .hero h1 {
        font-size: 24px;
    }

    .navIn {
        width: auto;
        padding: 0 10px;
    }

    .nav-wrapper ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-wrapper ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li a {
        padding: 8px 12px;
    }

    .nav-wrapper ul li a:hover {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
    }

    .hero {
        text-align: center;
        padding: 30px 10px;
        margin-right: 0;
    }

    .hero h1 {
        font-size: 24px;
    }
}

nav {
    background-color: #ffeb3b;
    padding: 0 20px;
    border-radius: 15px;
}

nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-wrapper ul {
    display: flex;
    align-items: center;
    margin: 0;
}

nav .nav-wrapper ul li {
    margin-left: 20px;
}

nav .nav-wrapper ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
}

nav .dropdown-content {
    background-color: rgba(0, 145, 248, 0.7);
    display: none;
    position: absolute;
    min-width: 250px;
    z-index: 1;
    top: -52px;
}

nav .dropdown-content li {
    list-style: none;
    padding: 10px;
    text-align: left;
}

nav .dropdown-content li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    margin: -10px;
}

nav .dropdown-content li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 145, 248, 0.4);
}

nav .dropdown-trigger:hover .dropdown-content {
    display: block;
}

nav li a:hover {
    background-color: transparent;
}

.carouselCont {
    padding-bottom: 550px;
}

@media screen and (max-width: 1024px) {
    .carouselCont {
        padding-bottom: 400px;
    }
}

@media screen and (max-width: 768px) {
    .carouselCont {
        padding-bottom: 300px;
    }

    .carousel .carousel-item h1 {
        font-size: 24px;
    }

    .carousel .carousel-item .hero {
        padding: 30px 10px;
        margin-right: 0;
    }

    .carousel .carousel-item .heroIn {
        text-align: center;
    }
}

/* main */
/* Основні стилі для body */
body {
    font-family: 'Cinzel', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Стилі для основного контенту */
main {
    padding: 0 15px;
}

/* Стилі для секції турів */
.tours {
    margin-bottom: 20px;
}

/* Контейнер для вкладок */
.tabsCont {
    padding-left: 140px;
}

/* Стилі для вкладок в секції турів */
.tours .tabs {
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
    gap: 10px;
}

/* Стилі для кнопок турів */
.btnTours {
    background-color: white;
    border: none;
    box-shadow: none;
    outline: none;
    color: rgb(255, 208, 0);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btnTours:hover {
    color: rgb(172, 165, 165);
    cursor: pointer;
    background-color: rgba(255, 208, 0, 0.1);
}

.btnTours:focus,
.btnTours:active {
    box-shadow: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btnTours:active {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 208, 0);
}

.btnTours.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Стилі для горизонтальних карток турів */
.tours .card.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    width: 400px;
    height: 260px;
    margin: 20px auto;
}

/* Стилі для зображень в горизонтальних картках */
.tours .card.horizontal .card-image {
    flex: 1;
    max-width: 250px;
    overflow: hidden;
    border-radius: 8px;
    margin-left: 5px;
}

hr {
    color: #b8b7b7;
}

.tours .card.horizontal .card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Стилі для контейнера карток */
.chevronRightClass {
    text-align: end;
}

.tours .card.horizontal .card-stacked {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
}

/* Стилі для контенту карток */
.tours .card.horizontal .card-content {
    text-align: left;
}

/* Стилі для заголовків в картках */
.tours .card.horizontal .card-content h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Стилі для тексту в картках */
.tours .card.horizontal .card-content p {
    margin: 3px 0;
    font-size: 12px;
}

/* Стилі для цін в картках */
.tours .card.horizontal .card-content .price {
    font-size: 18px;
    font-weight: bold;
}

.tours .card.horizontal .card-content .price span {
    font-size: 10px;
    color: #777;
}

/* Стилі для дій в картках */
.tours .card.horizontal .card-action {
    text-align: right;
    padding: 1px;
}

/* Стилі для кнопки-стрілки */
.chevronRight {
    background: yellow;
    border: none;
    color: #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 10px;
    height: 40px;
    transition: background-color 0.3s, transform 0.3s;
    opacity: 80%;
}

.chevronRight .material-icons {
    font-size: 24px;
    transition: transform 0.2s;
}

.chevronRight:hover .material-icons {
    transform: translateX(1px);
}

/* Адаптивні стилі */
@media (max-width: 768px) {
    .tours .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tabsCont {
        padding-left: 0;
    }

    .tours .card.horizontal {
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 20px;
    }

    .tours .card.horizontal .card-image {
        width: 100%;
        order: 1;
        margin-top: 10px;
    }

    .tours .card.horizontal .card-stacked {
        width: 100%;
        order: 2;
    }

    .tours .card.horizontal .card-content,
    .tours .card.horizontal .card-action {
        text-align: center;
    }

    .carousel .carousel-item {
        width: 100%;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        padding: 0;
    }

    .swiper-slide {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
}

/* Секція "НАШІ ПЕРЕВАГИ" */
.advantages {
    padding: 40px 0;
    text-align: center;
}

/* Контент секції "НАШІ ПЕРЕВАГИ" */
.advantages .advantage-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Зображення в секції "НАШІ ПЕРЕВАГИ" */
.advantages img {
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 100%;
}

/* Текст в секції "НАШІ ПЕРЕВАГИ" */
.advantages p {
    text-align: justify;
    padding: 0 20px;
    margin: 0;
}

@media (max-width: 768px) {
    .advantages .advantage-content {
        flex-direction: column;
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        bottom: -200px;
        width: 25px;
    }

    .advantages img {
        width: 100%;
        height: auto;
    }

    .advantages p {
        padding: 0 10px;
    }
}

/* Стилі для кнопок в каруселі */
.swiper-button-prev,
.swiper-button-next {
    top: auto;
    bottom: -260px;
    color: #cfcbcb;
    width: 15px;
}

/* Нові адаптивні стилі для вузьких екранів */
@media (max-width: 480px) {
    .tours .card.horizontal {
        width: 100%;
        margin-left: 0;
    }

    .btnTours {
        width: 100%;
        text-align: center;
    }

    .chevronRight {
        width: 30px;
        height: 30px;
    }

    .chevronRight .material-icons {
        font-size: 18px;
    }

    .advantages p {
        padding: 0 5px;
    }
}

/* Додаткові стилі для середніх екранів */
@media (min-width: 768px) and (max-width: 1024px) {
    .tours .card.horizontal {
        width: 350px;
        height: 260px;
        margin: 20px auto;
    }

    .swiper-button-prev,
    .swiper-button-next {
        bottom: -240px;
        width: 20px;
    }

    .tours .card.horizontal .card-image {
        max-width: 200px;
    }

    .advantages img {
        width: 100%;
        height: auto;
    }

    .advantages p {
        padding: 0 10px;
    }
}

/* Додаткові стилі для великих екранів */
@media (min-width: 1024px) and (max-width: 1267.5px) {
    .tours .card.horizontal {
        width: 450px;
        height: 240px;
        margin: 20px auto;
    }

    .swiper-button-prev,
    .swiper-button-next {
        bottom: -290px;
        width: 25px;
    }

    .tours .card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tours .card.horizontal .card-image {
        max-width: 200px;
    }

    .advantages img {
        width: 100%;
        height: auto;
    }

    .advantages p {
        padding: 0 10px;
    }
}

/* footer */
footer {
    background: #000e1c25 !important;
    color: rgb(2, 0, 12);
    padding: 0;
}

.footer-form {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5) url('../img/vivid-colours-plants-in-natural-environment.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
}

.footer-form h2 {
    text-align: start;
    margin-bottom: 40px;
    color: white;
    font-size: 45px;
}

.footer-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.footer-form .input-field {
    margin: 10px;
    flex: 1 1 200px;
}

.footer-form input,
.footer-form .custom-select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    color: #ffffff;
    margin: 5px;
    width: calc(100% - 10px);
    transition: background 0.3s, color 0.3s;
}

.footer-form .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.footer-form .custom-select:focus {
    outline: none;
    box-shadow: none;
}

select:focus {
    border-bottom: 1px solid #FFD700 !important;
    box-shadow: 0 1px 0 0 #FFD700 !important;
}

.dropdown-content li>span {
    color: rgb(0, 0, 0);
}

.dropdown-content li>span:active,
.dropdown-content li>span:hover,
.dropdown-content li>span:focus,
.dropdown-content li>span.active {
    color: rgb(255, 187, 0);
}

.footer-form button {
    padding: 0px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: yellow;
    color: black;
    cursor: pointer;
    margin: 5px;
    width: calc(100% - 10px);
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px 0;
}

.footer-info div {
    flex: 1 1 200px;
    max-width: 300px;
}

.footer-logo img {
    max-width: 100px;
    margin-bottom: 10px;
}

.footer-logo p {
    color: white;
}

.footer-nav ul,
.footer-support ul,
.footer-contacts ul {
    list-style: none;
    padding: 0;
}

.footer-nav li,
.footer-support li,
.footer-contacts li {
    margin-bottom: 10px;
}

.footer-nav a,
.footer-support a,
.footer-contacts a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav a:hover,
.footer-support a:hover,
.footer-contacts a:hover {
    color: yellow;
}

.footer-contacts .social-icons {
    display: flex;
    gap: 10px;
}

.footer-contacts .social-icons img {
    width: 40px;
    opacity: 90%;
}

.footer-credits {
    text-align: center;
    padding-top: 20px;
}

.footer-credits a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-credits a:hover {
    color: yellow;
}

@media (max-width: 768px) {
    .footer-info {
        display: grid;
        text-align: center;
    }

    .footer-form form {
        align-items: center;
    }

    .footer-form input,
    .footer-form .custom-select,
    .footer-form button {
        text-align: center;
        width: 100%;
        max-width: 350px;
    }
}

hr {
    border: none;
    height: 2px;
    background-color: #FFD700;
    margin: 20px 0;
}

footer hr {
    background-color: #ffffff;
    opacity: 0.5;
}

hr.gradient {
    height: 3px;
    background: linear-gradient(to right, #FFD700, #ffcc00);
    border: none;
    margin: 20px 0;
}

hr.dashed {
    border-top: 2px dashed #FFD700;
    background: transparent;
    margin: 20px 0;
}

.btn,
.btn:hover,
.btn:focus {
    background-color: #FFD700 !important;
    color: #000000 !important;
    opacity: 1 !important;
}

form {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.btnForm {
    opacity: 1 !important;
    background-color: #FFD700 !important;
    color: #000000 !important;
    box-shadow: none !important;
}

.page-footer {
    background-color: #001624 !important;
}

input[type=text]:focus+label,
input[type=email]:focus+label,
input[type=tel]:focus+label,
select:focus+label {
    color: #FFD700 !important;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
select:focus {
    border-bottom: 1px solid #FFD700 !important;
    box-shadow: 0 1px 0 0 #FFD700 !important;
}

.custom-select option {
    color: #ffcc00 !important;
}

.footer-info h5 {
    color: #FFD700;
}

.footer-credits a {
    color: #FFD700 !important;
}

.footer-credits p {
    color: #ffffff;
}

.iconsFooter {
    padding: 10px;
}

/* Додаткові стилі для забезпечення правильної роботи каруселі на мобільних пристроях */


.carousel-item {
    height: 400px;
    background-size: cover;
}

.hero {
    padding: 60px 20px;
    background: rgba(0, 145, 248, 0.2);
}

.hero h1 {
    font-size: 30px;
    color: white;
    margin: 0 0 20px;
}

.hero a {
    color: black;
}




/* Основний стиль для кнопок */
.swiper-button-prev,
.swiper-button-next {
    top: auto;
    bottom: -260px;
    color: #cfcbcb;
    width: 15px;
}

/* Адаптивність для планшетів (ширина від 768px до 1024px) */
@media (max-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        bottom: -200px;
        width: 20px;
    }
}

/* Адаптивність для мобільних пристроїв (ширина до 767px) */
@media (max-width: 767px) {
    .swiper-button-prev,
    .swiper-button-next {
        bottom: auto;
        width: 25px;
    }
    
    .swiper-container {
        width: 100%;
        overflow: hidden; /* Додаємо overflow: hidden */
    }
    
    .swiper-slide {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
    
    .tour-card {
        padding: 10px;
        box-sizing: border-box;
    }
}

.language-button {
    display: inline-block;
    padding: 0px 0px;
    font-size: 16px;
    color: #fff;
  
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .language-button:hover {
    background-color: #0056b3;
  }
  